*{
margin: 0;
box-sizing: 0;
}

:root {
--mediumslateblue: #7B68EE;
}

header{
background-image: url(mk.png);
padding: 150px;
background-repeat: no-repeat;
background-size: 100%;
background-position-y: -330px;
}

hr {
color: black;
border: solid 1.4px;
box-shadow: 0 1px 1px 0;
}

.icones img {
width: 5%;
border: outset black 3px;
box-shadow: 1px 1px 2px 1px ;
padding: 5px;
margin: 10px;
}

.icones {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: pink;
}

h1 {
text-align: center;
background-color: pink;
font-size: 50px;
border-radius: 40px;
border: outset var(--mediumslateblue) 3px;
box-shadow: 0 1px 2px 1px;
}

.titulo{
padding: 20px;
}

.principal{  
display: grid;
grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));

}

.principal img {
    width: 70%;


}